.poster-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 450px;
    width: 100%;
    overflow: hidden;
    z-index: -1;

    .poster {
        display: block;
        width: 100%;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.6) 70%,
            rgba(255, 255, 255, 1) 100%)
    }
}
.statistic {
    z-index: 1000;
    padding-top: 293px;
    margin-bottom: 30px;

    .snapshot {
        width: 20%;
    }
    .metadata {
        color: #333;
        width: 60%;
        padding: 0 20px;

        .title {
            font-size: 30px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 15px;
        }
        .captions {
            margin-bottom: 10px;
        }
        .certification {
            color: #616161;
            text-transform: uppercase;
            margin-bottom: 15px;

            .item {
                margin-right: 20px;
            }
        }
        .credits {
            line-height: 18px;
            margin: 15px 0;
        }
        .overview {
            font-size: 14px;
            line-height: 20px;
            color: #616161;
        }
    }
    .rating-container {
        width: 20%;
        text-align: center;

        .featured {
            background-color: #C7A605;
            padding: 30px 0;
            position: relative;

            .title {
                font-size: 56px;
                font-weight: 300;
                letter-spacing: -3px;
                margin-bottom: 15px;
            }
            .subtitle {
                font-size: 12px;
                font-weight: 700;
            }
            .icon {
                position: absolute;
                bottom: -9px;
                left: 50%;
                margin-left: -7px;
            }
        }
        .rating {
            background-color: #AE9204;
            padding: 24px 10px;

            .title {
                font-size: 24px;
                margin-bottom: 5px;
            }
            .subtitle {
                font-size: 10px;
                font-weight: 700;
                line-height: 12px;
            }
            &:first-child {
                background-color: #E0BB06;
                padding: 18px 10px;
            }
        }
    }
}
.segment {
    font-size: 13px;
    line-height: 20px;
    color: #616161;
    padding: 30px 0 30px;

    .content-wrapper {
        max-width: 1010px;
        margin: 0 auto;
    }
    .rail {
        padding: 5px;

        figure {
            padding-top: 10px;
            border-top: 1px solid #DDD;

            .poster {
                display: block;
                width: 22%;
                height: 108px;
            }
            figcaption {
                width: 78%;
                padding-left: 15px;

                .title {
                    font-weight: 700;
                    line-height: 16px;
                    margin: -2px 0 2px;
                }
                .subtitle {
                    font-size: 12px;
                    color: #888;
                    margin-bottom: 3px;
                }
                .captions {
                    margin-bottom: 3px;
                }
                .rating {
                    font-size: 12px;
                    font-weight: 700;
                    color: #888;
                }
            }
        }
        &.one-fourth {
            .poster {
                width: 14%;
                height: 50px;
            }
            figcaption {
                width: 86%;
            }
        }
        &.one-third:first-child,
        &.one-fourth:first-child,
        &.one-third:nth-child(2),
        &.one-fourth:nth-child(2),
        &.one-third:nth-child(3),
        &.one-fourth:nth-child(3),
        &.one-fourth:nth-child(4) {
            figure {
                border-top-width: 0;
            }
        }
    }
    &.background {
        background-color: #E6E6E6;
    }
}